/* ===== Step3. 一番上の図形へのスタイル適用 ===== */

#top {
  width: 800px;
  background-color: #dcc9f4;  /* 紫 */
  margin: 20px auto;          /* 上下に20pxの余白＋中央寄せ */
  text-align: center;         /* 中のp要素を中央揃え */
  padding: 20px 0;            /* 上下に余白を追加 */
}

.top-child {
  width: 20%;                 /* 親要素の20%幅 */
  background-color: #ffd9df;  /* ピンク */
  display: inline-block;      /* 横並び */
  margin: 10px;               /* 上下左右の余白 */
  padding: 10px 0;            /* テキスト上下に余白 */
}


/* ===== Step4. 真ん中の図形へのスタイル適用 ===== */

/* Step4-1. 真ん中の図形のデザインを調整 */
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df;  /* ピンク */
  margin: 20px auto;          /* 上下に20pxの余白＋中央寄せ */
  position: relative;         /* 子要素の絶対配置の基準に */
}

/* 子要素共通設定 */
#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;  /* 水色 */
  position: absolute;         /* 親要素からの位置指定が可能に */
}

/* Step4-2. 真ん中の図形の位置を指定 */
#middle-child01 {
  top: 100px;
  left: 100px;
}

/* ===== Step5. 一番下の図形へのスタイル適用（最終・階段状） ===== */



#bottom {

 width: 800px;

 background-color: #87ceeb; /* 水色 */

 margin: 0 auto;

 padding-top: 0;       /* 上の余白もなし */

}



/* 紫の長方形（上下の隙間なし・階段状） */

#bottom-child01,

#bottom-child02,

#bottom-child03 {

 width: 400px;

 height: 100px;

 background-color: #e5dcf0;  /* 薄紫 */

 position: relative;     /* 元の位置からずらす */

 margin-bottom: 0;      /* 上下の隙間をなくす */

}



/* 横方向だけずらす */

#bottom-child01 {

 left: 0;

}



#bottom-child02 {

 left: 200px;

}



#bottom-child03 {

 left: 400px;

}


}
